<section class="content-video">
  <ion-icon class="btn-close" name="close" (click)="close()"></ion-icon>
  <article class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YIam6vkucSY?showinfo=0&autoplay=1&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </article>

  <article class="info-video">
  <h2>¿Cómo usar los equipos?</h2>
  <p>
    En esta sección podras organizar equipos de trabajo a los cuales puedes asociar proyectos y crear tareas.
  </p>
  </article>
</section>